.container{
  background-image: linear-gradient(180deg,rgb(0, 140, 255),rgb(127, 173, 224));
  margin: 50px 30px;
  border-style: none;
  border-radius: 10px;
  box-shadow:2px 5px 5px rgb(196, 186, 186);
  height: 120vh;
  width:90vw;
  
       

}

.rainy{
  background-image: url("../public/images/rain-background-gif-12.gif");
  background-size: cover;
  background-position: center;
  margin: 50px 30px;
  border-style: none;
  border-radius: 10px;
  box-shadow:2px 5px 5px rgb(196, 186, 186);
  height: 120vh;
  width:90vw;
}
.clear-sky{
  background-image: url("../public/images/sunny-background.gif");
  background-size: cover;
  background-position: center;
  margin: 50px 30px;
  border-style: none;
  border-radius: 10px;
  box-shadow:2px 5px 5px rgb(196, 186, 186);
  height: 120vh;
  width:90vw;
}
 

.weather{
  display: flex;
  justify-content: space-evenly;
}





/*Display*/

.main{
  text-align: center;
  margin:60px 0 ;
  padding:20px 0;
  background-color: rgb(36, 136, 230);
  width:300px;
  height: 400px;
  border-radius: 10px;
  font-size: 1rem;
  transition: ease-in-out 0.5s;

}

.place{
  font-size: 2em;
}

.main-details{
  padding:50px 0;
}

.main:hover{
  transform: scale(1.1,1.1);
}







/*Details*/
.details{
  padding:10px 20px;
  font-size: 0.5rem;
  margin-top: 50px;
}

.row{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.details li{
  list-style: none;
}

.card{
  border-radius: 10px;
  background-color: rgb(36, 136, 230);
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 10px 20px;
  padding: 40px 30px;
  transition: ease-in-out 0.5s;
  
}

img{
  height:40px;
  width:40px;
}

.card:hover{
  transform: scale(1.1,1.1);
}






/*@media screen and (max-width: 768px) {
  body {
    background-color: lightgreen;
  }
}*/



